<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head(title='나의 배송 내역')}"></head>
<div th:replace="~{common/header}"></div>

<section class="section">
  <div class="container">
    <h1 class="title is-3">📦 나의 배송 내역</h1>

    <table class="table is-fullwidth is-hoverable">
      <thead>
      <tr>
        <th>배송번호</th>
        <th>주문번호</th>
        <th>상품명</th>
        <th>배송상태</th>
        <th>상세보기</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="delivery : ${deliveryList}">
        <td th:text="${delivery.id}">1</td>
		<td th:text="${delivery.orderId}">ORD20250001</td>
		<td th:text="${delivery.payment.goods.gname}">상품명</td> <!-- payment에 goods가 있는 경우에만 가능 -->
        <td>
          <span class="tag is-success" th:text="${delivery.status}">배송준비</span>
        </td>
        <td>
          <a th:href="@{/delivery/detail/{id}(id=${delivery.id})}" class="button is-small is-link">보기</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<html th:replace="~{common/footer}" />