<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common/head :: head(title='상품 목록')}"></head>
<div th:replace="~{common/header}"></div>

<div style="max-width:1448px; text-align: center; margin:0 auto; margin-top:50px; font-weight:700;">
	<h1 style="color:#000; font-size:50px;">BEST</h1>
</div>

<div style="max-width:1448px; margin:0 auto; margin-top:50px; padding-bottom:50px;" class="columns is-multiline">
	
	<div style="z-index:1; width:100%; margin:0 auto; margin-bottom:20px;">
		<div style="max-width:1448px; margin:0 auto; padding-bottom:10px; font-weight:700; border-bottom:1px solid #dbdbdb;">
			<h1 style="color:#000; font-size:20px;"
				th:text="${selectedBrand != null} ? ${selectedBrand} : 'BEST'">BEST</h1>
		</div>
	</div>

	<div class="row" style="width:100%;">
		<div class="col-lg-3 col-md-6 col-12" th:each="goods : ${goodsList}">
			<div class="card h-100 border-0" style=" border:0; box-shadow:none; border-radius:0;">
				<a th:href="@{/goods/detail/{no}(no=${goods.no})}" class="text-decoration-none">
					<img th:src="@{/uploads/{img}(img=${goods.img1})}"
						 class="card-img-top"
						 alt="상품 이미지"
						 style="object-fit: cover; border-radius: 0;" />

					<div class="card-body px-0 py-2">
						<h5 class="card-title mb-1 text-dark" style="font-size: 16px; font-weight:600;" th:text="${goods.gname}">상품명</h5>
						<p class="text-muted mb-2" style="font-size: 13px;" th:text="${goods.comment}">상품 설명</p>

						<div>
            <span class="text-danger fw-bold" th:if="${goods.discount > 0}"
				  th:text="${goods.discount} + '%'">할인율</span>

							<span class="fw-bold text-dark" style="font-size: 18px;"
								  th:text="${#numbers.formatInteger(goods.price2, 3, 'COMMA')} + '원'">할인가</span>

							<del class="text-muted" style="font-size: 14px;"
								 th:if="${goods.discount > 0}"
								 th:text="${#numbers.formatInteger(goods.price1, 3, 'COMMA')} + '원'">정가</del>
						</div>
					</div>
				</a>
			</div>

		</div>
	</div>


</div>
<html th:replace="~{common/footer}" />