<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
	<meta charset="UTF-8">
	<title>공지사항</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/ap_css/ap_header.css}">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/ap_css/ap_footer.css}">
	<link rel="shortcut icon" type="image/x-icon" href="/ap_img/favicon.ico">
	<style>
		.box {
            border-radius:0 !important;
        }
	</style>
</head>

<body>
	<th:block th:replace="common/header :: header"></th:block>
	<section class="section">
		<div class="container" style="max-width: 900px;">
			<h1 class="title is-3" style="margin-bottom:50px; font-size:49.5px; text-align:center;">공지사항 등록</h1>

			<form th:action="@{/support/notice/form}" method="post" th:object="${notice}">
				<table class="table is-fullwidth">
					<tbody>
					<tr>
						<th style="width: 120px; border:0;">제목</th>
						<td style="border:0;">
							<input class="input" type="text" th:field="*{title}" placeholder="공지 제목 입력">
						</td>
					</tr>
					<tr>
						<th>내용</th>
						<td>
							<textarea class="textarea" th:field="*{content}" placeholder="공지 내용 입력" rows="10"></textarea>
						</td>
					</tr>
					</tbody>
				</table>

				<div class="field is-grouped is-justify-content-center mt-5">
					<div class="control">
						<button class="button is-dark" type="submit">등록</button>
					</div>
					<div class="control">
						<a th:href="@{/support/notice/list}" class="button is-light">취소</a>
					</div>
				</div>
			</form>
		</div>
	</section>

	<th:block th:replace="common/footer :: footer"></th:block>
</body>

</html>